.cuadrado2x1 {
  @include displayGrid;
  grid-template-areas: "a a a y1" "a a a lMorada" "xtotal lVerde x1 x1pory1" " xtotal lVerde x2 x2pory1";
  padding: 10px;

  .lMorada {
    margin-bottom: 0.5rem;
  }

  .y1 {
    margin-bottom: 0;
  }

  div {
    @include displayFlex;
  }

  div:nth-child(2) {
    @include lMorada;
  }

  div:nth-child(6) {
    width: 20rem;
    height: 6rem;
    padding: 2rem;
  }

  div:nth-child(8) {
    width: 20rem;
    height: 0.9rem;
    padding: 2rem;
  }

  div:nth-child(1) {
    @include lVerde;
  }
}
