@import "mixins";
@import "gridAreas";
@import "cuadrado2x1";
@import "cuadrado2x2";
@import "cuadrado2x3";
@import "cuadrado3x2";
@import "cuadrado3x3";
@import "cuadrado1x2";
@import "cuadrado1x3";

input {
  width: 4rem;
  outline: none;
  text-align: center;
}

.check {
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
}

.container {
  @include displayGrid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  width: 50vw;

  .text2x1 {
    @include displayFlex;
    flex-direction: column;

    .box1 {
      @include displayGrid;
      grid-template-areas:
        "dimensions dimensions dimensions"
        "xtotal x ytotal";
      text-align: center;
      margin: 1rem 0;
      border: 2px solid black;
      border-radius: 0.4rem;
      padding: 1rem 3rem;

      .xtotal {
        @include displayFlex;

        .emptyVerde {
          width: 100%;
          height: 1rem;
          border: 1px solid var(--color-x);
          text-align: center;
        }
      }

      .ytotal {
        @include displayFlex;

        .emptyMorado {
          width: 100%;
          height: 1rem;
          border: 1px solid var(--color-y);
          text-align: center;
        }
      }
    }

    .box2 {
      @include displayFlex;
      flex-direction: column;
      border: 2px solid black;
      border-radius: 0.4rem;
      padding: 1rem 0.4rem;
      margin-bottom: 1rem;
    }
  }
}
