.x1 {
  grid-area: x1;
  color: rgb(23, 167, 23);
}
.x2 {
  grid-area: x2;
  color: rgb(23, 167, 23);
}
.x3 {
  grid-area: x3;
  color: rgb(23, 167, 23);
}
.y1 {
  grid-area: y1;
  color: violet;
}
.y2 {
  grid-area: y2;
  color: violet;
  margin: 1rem 0;
}
.y3 {
  grid-area: y3;
  color: violet;
  margin: 1rem 0;
}
.x1pory1 {
  grid-area: x1pory1;
  border: solid 1px black;
}
.x2pory1 {
  grid-area: x2pory1;
  border: solid 1px black;
}
.ytotal {
  grid-area: ytotal;
  color: violet;
}
.xtotal {
  grid-area: xtotal;
  color: rgb(23, 167, 23);
}
.lVerde {
  grid-area: lVerde;
}
.lMorada {
  grid-area: lMorada;
}
.dimensions {
  grid-area: dimensions;
}
.x {
  grid-area: x;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-around;
  width: 50vw;

  .cuadrado2x1 {
    display: grid;
    grid-template-areas: "a a a y1" "a a a lMorada" "xtotal lVerde x1 x1pory1" " xtotal lVerde x2 x2pory1";
    padding: 10px;
    align-items: center;
    justify-content: center;

    .y1 {
      margin-bottom: 0;
    }

    .lMorada {
      margin-bottom: 0.5rem;
    }

    .x1,
    .x2 {
      margin-right: 1rem;
    }

    div {
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div:nth-child(2) {
      background-image: url("../img/LineaMorada.png");
      width: 100%;
      height: 2rem;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    div:nth-child(6) {
      width: 20rem;
      height: 6rem;
      padding: 2rem;
    }

    div:nth-child(8) {
      width: 20rem;
      height: 0.9rem;
      padding: 2rem;
    }

    div:nth-child(1) {
      background-image: url("../img/LineaVerde.png");
      width: 2rem;
      height: 100%;
      background-size: 92%;
      background-repeat: no-repeat;
    }
  }

  .text2x1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .box1 {
      display: grid;
      grid-template-areas: "dimensions dimensions dimensions" "xtotal x y1";
      justify-content: center;
      text-align: center;
      margin: 1rem 0;
      border: 2px solid black;
      border-radius: 0.4rem;
      padding: 1rem 3rem;
    }

    .box2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
      border-radius: 0.4rem;
      padding: 1rem 0.4rem;
      margin-bottom: 1rem;

      input {
        width: 40%;
        outline: none;
        text-align: center;
      }
    }
  }

  .check {
    padding: 0.5rem;
    cursor: pointer;
    outline: none;
  }
}
