@import "mixins";
@import "gridAreas";
@import "cuadrado2x1";
@import "cuadrado2x2";
@import "cuadrado2x3";
@import "cuadrado3x2";
@import "cuadrado3x3";
@import "cuadrado1x2";
@import "cuadrado1x3";

input {
  width: 4rem;
  outline: none;
  text-align: center;
  margin: 0 0.2rem;
}

.volver {
  color: white;
  width: 5rem;
  height: 2rem;
  margin: 1rem 0;
  background-color: #4a7aad;
  border: none;
  cursor: pointer;
}

.volver:hover {
  opacity: 0.7;
}

.volverMenu {
  color: white;
  width: 10rem;
  height: 2rem;
  margin: 1rem 0;
  background-color: #4a7aad;
  border: none;
  cursor: pointer;
}

.volverMenu:hover {
  opacity: 0.7;
}

h1 {
  color: white;
}

.volverMenu2 {
  color: white;
  width: 10rem;
  height: 2rem;
  margin: 1rem 0;
  background-color: #4a7aad;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.volverMenu2:hover {
  opacity: 0.7;
}

.title {
  color: white;
  text-transform: uppercase;
}

.subtitle {
  color: white;
}

.check {
  margin-top: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  outline: none;
  background-color: #00bd8b;
  border: none;
  color: white;
  width: 5rem;
  height: 2rem;
}

.check:hover {
  opacity: 0.7;
}

.select {
  @include displayFlex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;

  .primeros4 {
    @include displayFlex;
  }

  .otros3 {
    @include displayFlex;
  }

  button {
    width: 20rem;
    height: 15rem;
    font-size: 3rem;
    margin: 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: #00e4b0;
  }

  button:hover {
    opacity: 0.7;
  }
}

.container {
  @include displayGrid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  width: 50vw;
  color: white;

  button {
    margin: 0 0.5rem;
    color: white;
    background-color: #eb74eb;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    padding: 0.2rem;
  }

  button:hover {
    opacity: 0.7;
  }

  .text2x1 {
    @include displayFlex;
    flex-direction: column;

    button {
      width: 2.5rem;
      outline: none;
    }

    button:hover {
      opacity: 0.7;
    }

    .box1 {
      @include displayGrid;
      grid-template-areas:
        "dimensions dimensions dimensions"
        "xtotal x ytotal";
      text-align: center;
      margin: 1rem 0;
      border: 2px solid white;
      border-radius: 0.4rem;
      padding: 1rem 0.5rem;
      width: 12rem;

      .xtotal {
        @include displayFlex;

        .emptyVerde {
          width: 100%;
          height: 1rem;
          border: 1px solid var(--color-x);
          text-align: center;
        }
      }

      .ytotal {
        @include displayFlex;

        .emptyMorado {
          width: 100%;
          height: 1rem;
          border: 1px solid var(--color-y);
          text-align: center;
        }
      }
    }

    .box2 {
      @include displayFlex;
      flex-direction: column;
      border: 2px solid white;
      border-radius: 0.4rem;
      padding: 1rem 0.4rem;
      margin-bottom: 1rem;
      width: 12rem;
    }

    .save {
      width: 50%;
      height: 2rem;
      outline: none;
      background-color: #00bd8b;
    }
  }
}
