@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --color-x: rgb(23, 167, 23);
  --color-y: violet;
  /* --size-text: 1.2rem; */
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", "sans-serif";
}
